#btn-0{
  background-color: orange;
  border: 1px solid red;
}

#btn-1{
  background-color: green;

  border: 1px solid red;
}
#btn-2{
  background-color: brown;

  border: 1px solid red;
}
#btn-3{
  background-color: yellow;
  border: 1px solid red;
}
#btn-4{
  background-color:blue;
  border: 1px solid red;
}
#btn-5{
  background-color: purple;
  border: 1px solid red;
}
#btn-6{
  background-color: purple;
  border: 1px solid red;
}
#btn-7{
  background-color: purple;
  border: 1px solid red;
}
#btn-8{
  background-color: purple;

  border: 1px solid red;
}
#btn-9{
  background-color: purple;
  border: 1px solid red;
}
#btn-10{
  background-color: purple;
  border: 1px solid red;
}
#btn-11{
  background-color: purple;
  border: 1px solid red;
}
#btn-12{
  background-color: purple;
  border: 1px solid red;
}
#btn-13{
  background-color: cyan;
  border: 1px solid red;
}
.ingredients-ui{
color:"white";  

}
#mini-burger-ui{
  height: 400px;
  width:300px;
  background-color: pink;
}
#player-bun-base{
  background-color: orange;
  width: 380px;
  height: 30px;
}
#egbase{
  height:20px;
  width:150px;
  background-color: orange;
}
.stuff{
  height:40px;
  width:300px;
}
.example{
  height:20px;
  width:150px;
  background-color:green;
}
.ingredients-ui{
  width:100px;
  height:100px;
}
